<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'ajout d'un étudiant</title>
    <link th:replace="~{home :: bootstrapImports}">
</head>
<body>
<header th:replace="~{home :: header}"></header>

<main class="container mt-5">
    <h1>Listing des étudiants</h1>
    <p th:if="${students.isEmpty()}">Pas d'étudiants</p>
    <table class="table table-striped" th:unless="${students.isEmpty()}">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}">ID</td>
            <td th:text="${student.lastname}">Name</td>
            <td th:text="${student.firstname}">Breed</td>
            <td>
                <a th:href="@{/detail/{id}(id=${student.id})}" class="btn btn-info">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>

</body>
</html>