<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{pagea :: bootstrapImports}"></span>
</head>
<body>
<header>
    <h1>Page B</h1>
    <nav>
        <a th:href="@{/}">Home Page</a>
    </nav>
</header>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rabbit : ${rabbits}">
        <td th:text="${rabbit.id}">ID</td>
        <td th:text="${rabbit.name}">Name</td>
        <td th:text="${rabbit.breed}">Breed</td>
        <td><a th:href="@{/detail/{id}(id=${rabbit.id})}">Details</a></td>

    </tr>
    </tbody>
</table>

</body>
</html>