body {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
}

.radio {
  text-align: left;
}
.name,
.info {
  display: flex;
}
.nom,
.prenom {
  width: 50%;
}
.date,
.telephone,
.email {
  width: 33%;
}

input[type="submit"] {
  width: 100%;
  background: green;
  outline: none;
  border: none;
  color: white;
}
